[run]
branch = True
source =
    tools
include =
    tools/create_manifest.py
    tools/remediator.py

omit =
    **/venv/**
    **/.venv/**
    **/Lib/site-packages/**
    **/site-packages/**
    **/tests/**
[report]
show_missing = True