*           text eol=lf
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.zip       binary
*.7z        binary
*.tar       binary
*.gz        binary
*.whl       binary