beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
filelock==3.18.0
idna==3.10
lxml==6.0.0
numpy==1.26.4; python_version < "3.13"
pandas==2.2.2; python_version < "3.13"
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
snscrape==0.7.0.20230622
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0

